<div class="flex flex-col justify-between h-screen bg-white border-r">
  <div class="px-4 py-6">
    <img
      class="block w-32 h-10 m-4"
      src="https://www.the-hash.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.3320537b.png&w=128&q=75"
      alt="logo"
    />

    <!-- MENU -->
    <nav class="flex flex-col mt-8 space-y-1">
      <div
        class="flex items-center px-4 py-2 text-gray-700 bg-gray-100 rounded-lg"
      >
        <i class="bx bx-tachometer"></i>
        <span class="ml-3 text-sm font-medium"> Home </span>
      </div>

      <details class="group">
        <summary
          class="flex items-center px-4 py-2 text-gray-500 rounded-lg cursor-pointer hover:bg-gray-100 hover:text-gray-700"
        >
          <i class="bx bx-package"></i>
          <span class="ml-3 text-sm font-medium"> Games / Game Versions </span>

          <span
            class="ml-auto transition duration-300 shrink-0 group-open:-rotate-180"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </summary>

        <nav class="mt-1.5 ml-8 flex flex-col">
          <a
            href="#"
            class="flex items-center px-4 py-2 text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700"
          >
            <span class="ml-3 text-sm font-medium"> Yellow </span>
          </a>
          <a
            href="#"
            class="flex items-center px-4 py-2 text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700"
          >
            <span class="ml-3 text-sm font-medium"> Red </span>
          </a>
        </nav>
      </details>

      <details class="group">
        <summary
          class="flex items-center px-4 py-2 text-gray-500 rounded-lg cursor-pointer hover:bg-gray-100 hover:text-gray-700"
        >
          <i class="bx bx-layer"></i>
          <span class="ml-3 text-sm font-medium"> Generations </span>

          <span
            class="ml-auto transition duration-300 shrink-0 group-open:-rotate-180"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </summary>

        <nav class="mt-1.5 ml-8 flex flex-col">
          <a
            href="#"
            class="flex items-center px-4 py-2 text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700"
          >
            <span class="ml-3 text-sm font-medium"> Yellow </span>
          </a>
          <a
            href="#"
            class="flex items-center px-4 py-2 text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700"
          >
            <span class="ml-3 text-sm font-medium"> Red </span>
          </a>
        </nav>
      </details>

      <!-- LOCATIONS -->
      <div class="flex items-center px-4 py-2 text-gray-700 rounded-lg">
        <i class="bx bx-map"></i>
        <span class="ml-3 text-sm font-medium"> Locations </span>
      </div>
      <!-- END LOCATIONS -->

      <!-- ITEMS -->
      <div class="flex items-center px-4 py-2 text-gray-700 rounded-lg">
        <i class="bx bx-paperclip"></i>
        <span class="ml-3 text-sm font-medium"> Items </span>
      </div>
      <!-- END ITEMS -->
    </nav>
  </div>
  <!-- END MENU -->

  <!-- Bottom -->
  <div class="sticky inset-x-0 bottom-0 border-t border-gray-100">
    <a
      href="#"
      class="flex items-center p-4 bg-white hover:bg-gray-50 shrink-0"
    >
      <img
        alt="Man"
        src="https://avatars.githubusercontent.com/u/113540670?v=4"
        class="object-cover w-10 h-10 rounded-full"
      />

      <div class="ml-1.5">
        <p class="text-xs">
          <strong class="block font-medium">Tung Nguyen</strong>

          <span> mtung199x@gmail.com </span>
        </p>
      </div>
    </a>
  </div>
</div>
