<!-- Trailer section -->

<section>
  <ng-container *ngIf="carouselItems$ | async as carouselItems">
    <div class="mx-8 mt-12">
      <nmt-carousel [items]="carouselItems"></nmt-carousel>
    </div>
  </ng-container>
</section>
<!-- END Trailer section -->

<!-- Pokémon section -->
<section>
  <div class="container mx-auto py-14">
    <!-- TITLE -->
    <h2 class="text-4xl tracking-tight font-bold mb-4">Pokemons</h2>

    <!-- LIST -->
    <ng-container *ngIf="(loadPokemonStatus$ | async) === 'success'">
      <ng-container *ngIf="pokemons$ | async as pokemons">
        <div
          class="mt-6 mb-6 grid grid-cols-1 xl:grid-cols-5 gap-y-10 xl:gap-x-8"
        >
          <ng-container *ngFor="let i of pokemons">
            <nmt-pokemon-item [item]="i"></nmt-pokemon-item>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="(loadPokemonStatus$ | async) === 'loading'">
      <nmt-skeleton></nmt-skeleton>
    </ng-container>

    <ng-container *ngIf="(loadPokemonStatus$ | async) === 'error'">
      <div *ngIf="error$ | async as error" class="text-red-500 p-8">
        {{ error }}
      </div>
    </ng-container>
    <!-- END LIST -->
  </div>
</section>
<!-- END Pokémon section -->

<ng-template #skeleton>
  <nmt-skeleton></nmt-skeleton>
</ng-template>
